.dashboard-page {
    padding: 20px;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.button-group button {
    background-color: #008080;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.button-group button:hover {
    background-color: #006666;
}

.filters {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.filter-section {
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 6px;
}

.filter-section select {
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.chart-section {
    margin-top: 20px;
}
.chart-container {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}